:root {
  --code-background: #2c203b;
  --code-text: #f3ece1;
  --code-object: #f000a8;
  --code-function: #f6f6f6;
  --code-glow: #0073e6;
}
body{
  font-family: "Roboto", sans-serif !important;
  /* background-color: linear-gradient(to bottom, #0a468a, #134d96, #1b53a2, #225aae, #2a61ba, #4064bd, #5167bf, #5f6ac2, #726bbb, #806cb5, #8b6eae, #9371a8); */
    
  background-image: url('./assets/boutspro_background.png');
  background-repeat: no-repeat;
  background-size: auto;
  
  
}

.navbar{
  height: 120px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

a {
  text-decoration: none;
  color: var(--code-text);
  font-weight: 600;
  cursor: pointer;
}
a:hover {
  color: var(--code-object);
  text-shadow: none;
}

.glass{
  font-family: 'Rajdhani', sans-serif;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  padding: 2rem;
  margin: 1.5rem 0;
  border-radius: 15px;
  box-shadow: 10px 10px 25px 0 #5a607f;
  background-image: linear-gradient(to bottom, #28eedb, #1a5e80);
}

.actions{
  border-radius: 15px;
  border: solid 5px #34bbff;
  background-color: #f5f6fa;
  padding: 20px 40px;

}

.error{
  font-family: 'Rajdhani', sans-serif;
}

.link{
  color: #212529;
  font-size: 32px;
}

a:hover{
  color: #212529;
}
.particles{
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn{
  border-radius: 40px;
  box-shadow: 10px 10px 25px 0 #5a607f;
  background-image: linear-gradient(to bottom, #28eedb, #34bbff);
  border: 0px;
  font-weight: bold;
  font-family: 'Rajdhani', sans-serif;
  text-transform: uppercase;
  font-size: 22px;
}

.input{
  /* box-shadow: 0 15px 35px rgba(0, 0, 0, .2); */
  /* border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1); */
  color: #000;
  z-index: 1;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  border-radius: 15px;
  border: solid 1px #707070;
  font-family: 'Rajdhani', sans-serif;
}

select {
  background: var(--code-background);
  color: var(--code-text);
  font-weight: 600;
  text-shadow: 0 0 5px var(--code-glow);
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  padding: 3.5px 7px;
  cursor: pointer;
}

.App {
  text-align: center;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;

}
.connectButton{
  border-radius: 40px;
  background-image: linear-gradient(to bottom, #28eedb, #34bbff);
  padding: 10px 30px;
  font-weight: bold;
  font-family: 'Rajdhani', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  border: 0px;
  padding: 10px 20px !important;
}

.walletAddressButton{
  border-radius: 40px;
  padding: 10px 30px;
  font-weight: bold;
  font-family: 'Rajdhani', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding: 5px 20px !important;
  color: #707070 !important;
  border: solid 5px #28eedb;
}
.App > h3 {
  letter-spacing: 0.1px;
  margin: 49px 0;
}
.App code {
  background-color: var(--code-background);
  padding: 3.5px 7px;
  color: var(--code-text);
  text-shadow: 0 0 5px var(--code-glow);
}
.codeObject {
  color: var(--code-object);
  text-shadow: none;
}
.codeFunction {
  color: var(--code-function);
  text-shadow: 0 0 3px var(--code-glow);
}
.logo > img {
  width: 400px;
}

.footer {
  position: fixed;
  bottom: 14px;
  left: 14px;

  font-size: 9pt;
}
